head
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js')

body
  #bg-image
  #topbar
  #credit 
    i 
      |&copy; 2018 paulina lee / 
      | img: 
      a(href="https://unsplash.com/@powwpic") powwpic
      
  #everything
    .sidebar
      h2 hi, my 
      h2 name is
      .name Paulina Lee
      .links
        a(href="https://github.com/paulinalee") github
        |&nbsp;/ 
        a(href="https://www.linkedin.com/in/leepaulina/") linkedin
        |&nbsp;/ 
        a(href="#" title="nothing here yet, sorry!") resume
      .description utcs 
        b &times; 
        | hi i really like webdev and art

    .content
      .tabs
        a.back(href="#") ← take me home
        a.port(href="#") portfolio
      .main 
        .well
          .home
            .tile
              h3 about
              | Hello! I'm a junior at the University of Texas at Austin majoring in Computer Science. I like to come up with website designs or draw in my free time. Please feel free to shoot me an 
              a(href="mailto:0618py@gmail.com") email
              | &nbsp;if you'd like to get in touch!
          .portfolio
            .tile
              a(href="https://codepen.io/pluie/") codepen
              | &nbsp;&times;